.wrap{
	background-color: lightblue;
	min-width: 650px;
	margin:auto;
	overflow:auto;
}

.wrap h1{
	padding-left: 13px;
	color:crimson;
}

.wrap h2, h3{
	padding-left: 13px;
}

.content{
	width:82%;
	float:right;
	overflow:auto;
	padding-left:1%;
}

.content, aside{
	height:500px;
}

#contentHome{
	background-image: url(img/background2.png);
	background-repeat: repeat, repeat;
	background-attachment: fixed; 
}
#content2{
	background-color: rgb(240,240,240);
}

aside{
	background-color: rgb(117,239,172);
	font-size: 18px;
	line-height: 1.6;
	float: left;
	width:17%;
}

aside ul{
	list-style:none;
}