h1{
	color:crimson;
}
body{
	background-image: url(img/background2.png);
	background-repeat: repeat, repeat;
	background-attachment: fixed;
}
/*img{
	border: rgb(10,0,200) solid 3px;   sostituito da snippet interno all'index e relativo ad un'immagine
}*/